 .footer{
    position: absolute;
    height: 20px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    color: black;
    background-color: darkgray;
    font-weight: bold;
    }