* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body,
  html {
    height: 100%;
    margin: 0;
    font-size: 18px;
    scroll-behavior: smooth;
    background: white; 
  }

  html{
    scroll-behavior: smooth;
  }

  #root{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    display: block;
    position: relative;
  }
